body 
{
    font-family: 'Shizuru', cursive;
    background: mintcream;
}
.header_div{
    background: powderblue;
    color: hotpink;
}  
.header_div p{
    font-family: 'Qwitcher Grypen', cursive;
    color: indianred;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
} 
.main_div button{
font-family:sans-serif;
margin-top: 30px;
width: 130px;
font-weight: bold;
letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: indigo;
    bottom: 0;
    height: 90px;
    width: 100%;
    font-size: 018px;
    background: aqua;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px floralwhite;
}

